body,html{
	height: 100%;
}


#container{
	height: 100%;
	display: grid;
	grid-template-rows: 25% minmax(min-content,8%) auto 10%;

	
}

.header{
	border: 1px solid #000;
	background-image:url("/OAT/home.jpg");
	background-position: center;
	background-repeat: no-repeat;
    -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
	margin: 1%;

}

.menu{
	border: 1px solid #000;
	display: inherit;
	padding: 3px;
	background-color: #E0F8F7;
}

.menu ul{
	margin: 0px;
	padding: 0px;
	display: block;
}

.menu ul li{
	border: 1px solid blue;
	display: block;
	margin: 3px;
	text-align: center;

}

.main{
	display: grid;
	grid-template-columns: auto;
	border: 1px solid #000;
	margin: 1%;	
	background-color: #6E6E6E; 
}

.table{
	width: 30% !important;
	margin: auto;
	text-align: center;
}

.table tr td{
	border: 2px solid #000;
}



input{
	width: 83%;
}


.rodape{
	border: 1px solid #000;
	display: block;
	margin: 1%;
	background-color: #E0F8F7;
}

.titulo h3{
	text-align: center;

}


#sobre p{
	text-align: justify;
	
}